                        // @import "./reset.scss";
                        body {
                            height: 100vh;
                            background-color: rebeccapurple;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        
                        .wrapper {
                            max-width: 80%;
                            background-color: black;
                            height: 95%;
                            padding: 40px;
                            box-sizing: border-box;
                            .grid {
                                display: grid;
                                grid-template-columns: 1.5fr 1fr;
                                &>* {
                                    background-color: white;
                                    border-radius: 10px;
                                }
                            }
                        }